@import url(reset.css);

html {
    font-size: 62.5%;
    font-family: 'Bitter', serif;
    color:#CDFAFA;
    background: #005A81 url(assets/background.jpg) fixed no-repeat;
    background-size: contain;


}


.darkblue { color:#005A81}

.darkgreen {color:#0A323C}

.aquawhite {color: #bae2e2}

h1 { 
    font-size:4rem; 
    background-color: rgba(239, 229, 209, .9);
    padding: 3.6rem;
    margin: 4rem;
    display: inline-block;
    border-top-left-radius:2.2rem ;
    border-top-right-radius:2.2rem ;
 }

h2 { font-size: 2.7rem; padding: 3.5rem ;width: 93%; }

h3 {
    padding: 1.6rem;
    border-radius: 9%;
    position: absolute;
    right: 0;
    bottom: 4%
    
}

h3, h2 { 
    font-size: 2.7rem; 
    color:aliceblue;
    background-color: #0A323C;
    display: inline-block;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
}

h4 {
    font-size: 2rem;
    padding: 2rem 1rem;
}

p { font-size: 1.8rem; line-height: 1.55 ; color:rgb(239, 229, 209) }
 
ul { font-size: 1.8rem; line-height: 1.75 ; }

footer p { font-size: 1.4rem; }

strong {
    font-weight: bold;
}

em {
    background-color: rgba(255, 255, 255, .4);
}

.summary { 
    font-size: 2.4rem;
    font-style: italic;
    text-align: center;

}

.dot {
    width: 1rem;
    height: 1rem;
    background-color: #0A323C;
    margin: 3rem auto;
    border-radius: 100%;
}

.deleted {
    text-decoration: line-through;
}

.button-for-more {
    display: inline-block;
    border: 0.1rem dashed rgba(255, 255, 255, .4);
    width: 4rem;
    height: 4rem;
    font-size: 3.5rem;
    padding: 1rem 1.1rem;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
    right: 0;
    position: absolute;
    
}

.menu {
    
    background: rgba(239, 229, 209, .9) url(assets/icon.svg) center no-repeat;
    border-radius: 25%;
    padding: 0.5rem;
    margin: 1rem;
    height: 3.2rem;
    position: fixed;
    width:3.2rem;
    right:0;
    z-index: 9999;

}

.hoverme:hover  header,
.hoverme:active header,
.hoverme:focus  header {
    display: block;
}

header { 
    display: none;
    background:#c7a96e;
    color:#efe5d1;
    height:30rem;
    padding:10rem;
    

}

nav {
    float: right;
    
}

nav li {
    text-align: right;
    font-size: 2.2rem;
    
}

form {
    float: left;
    width: 35rem;
}

input, textarea {
    width: 35rem;
    background: none;
    border:2px #d3d3d4 solid;
    margin: 0.7rem;
    color:#efe5d1;
    font-size: 1.8rem;
    
}

button {
    background-color: #005a81;
    color:antiquewhite;
    border:none;
    padding: 2rem 6rem;
    font-size: 1.7rem;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: -2rem;

}


section {
    
    width: 45%;
    min-width:600px;
    max-width:850px;
    position: absolute;
    right: 5%;
}

article {
    margin-bottom: 11rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

hgroup {
    margin-left: -25%;
    position: relative;
    display: inline-block;
}

h3 {
    position: absolute;
    right: 0;
    bottom: 4%

}
figure {
    margin-left: -20%;
    margin-top:  20%;
    float: left;
}

.tekst {
    padding-top:4rem;
    column-count: 2;
}


@media all and (max-width: 1300px) {
    html {
        background: #005A81;
    }

    section {
        width: 100%;
    }

    .bg {
        background: #005A81 url(assets/bg.png) fixed no-repeat;
        height: 300px;
    }

    .menu {
        background-color: #3d6570;
    }
}



@media all and (max-width: 1080px) {
    html {
        background: #005A81;
    }

    section {
        width: 90%;
        min-width:300px;
        right: 5%;
    }

    .bg {
        background: #005A81 url(assets/bg.png) fixed no-repeat;
        height: 300px;
    }

    .menu {
        background-color: #3d6570;
    }
    }

    


@media all and (max-width: 768px) {
    hgroup {
        margin-left: 0;
        
    }
    figure {
        display: none;
    }

    .bg {
        background: #005A81 url(assets/bg1.png) fixed no-repeat;
        height: 250px;
    }


    section {
    
        width: 90%;
        min-width:300px;
        right: 5%;
    }

    .tekst {
        column-count: 1;
    }
}

